<li class="quiz-type-selector {{#active}}active{{/active}}" id="quiz-type-selector-{{typeId}}" data-quiztype="{{typeId}}">
    {{typeName}}
    <a href="{{typeUrl}}">
        <span class="dot" data-toggle="tooltip" data-placement="bottom" title="{{typeDescribe}}"></span>
    </a>
</li>